---
layout: embed
---

<div class="container">
    <div class="vis col-md-12" ng-controller="BarchartCtrl">
        {% raw %}
        <div class="col-md-3" ng-show="loading_finished" ng-cloak="">
            <div class="col-md-12">
                <button class="btn-default vis-btn-cat vis-btn-information"
                        style="border-left-color: #6dffd4" ng-click="loadOverview()">Gesamt</button>
            </div>
            <div class="col-md-12" ng-repeat="category in categories track by $index">
                <button class="btn-default vis-btn-cat vis-btn-information"
                        ng-style="{'border-left-color': colors[$index % colors.length]}" ng-click="catClick(category, colors[$index])">{{category}}</button>
            </div>
            <div class="col-md-12 cat-explanation" ng-if="show_info">
                <strong>{{active_cat}}</strong> {{active_info}}
            </div>
        </div>
        <div class="col-md-9">
            <div id="wrapper">
                <barchart data="bardata" caption="barcaptions" colors="activeColor" max="100"></barchart>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
