---
layout: default
---

<div class="container">
  <div class="row">
  <div class="text-center col-md-offset-1 col-md-10">
    <h1 class="">Lobbyranking</h1>
    <p>
      Lorem TBD
    </p>
    <br><br><br>
  </div>
</div>
<div class="row">
  <div class="vis col-md-12" ng-controller="BarchartCtrl">
  {% raw %}
  <div class="col-md-3" ng-show="loading_finished" ng-cloak="">
        <div class="col-md-12">
          <button class="btn-default vis-btn-cat vis-btn-information"
              style="border-left-color: #3695D8" ng-click="loadOverview()">Gesamt</button>
        </div>
        <div class="col-md-12" ng-repeat="category in categories track by $index">
            <button class="btn-default vis-btn-cat vis-btn-information"
                    ng-style="{'border-left-color': colors[$index % colors.length]}" ng-click="catClick(category, colors[$index])">{{category}}</button>
        </div>
        <div class="col-md-12 cat-explanation" ng-if="show_info">
          <strong>{{active_cat}}</strong> {{active_info}}
        </div>
    </div>
    <div class="col-md-9">
      <div id="wrapper">
          <barchart data="bardata" caption="barcaptions" colors="activeColor" max="100"></barchart>
      </div>
    </div>
  </div>
  {% endraw %}
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <p>
      Für das Funktionieren einer Demokratie ist die Integrität der handelnden Personen von nicht zu unterschätzender Bedeutung. In besonderem Maße gilt dies für den Prozess der Entstehung der Gesetze.
    </p>
    <p>
      Während es auf der Ebene des Bundes in Bezug auf die Tätigkeit der Lobbyisten (<b>verpflichtendes Lobbyregister</b>), den externen Einfluss auf Gesetzesentwürfe (<b>legislativer Fußabdruck</b>), den Wechsel von Regierungsmitgliedern in die Wirtschaft nach ihrem Ausscheiden aus dem Amt (<b>Karenzzeitvorschriften</b>), sowie hinsichtlich der Pflichten, welche den Abgeordneten bei der Ausübung ihres Mandats obliegen (<b>Verhaltensregeln</b>), in den letzten Jahren gewisse regulatorische Fortschritte gegeben hat, ist in den Bundesländern vergleichbares allenfalls nur ansatzweise und nur sehr selektiv festzustellen.
    </p>
    <p>
      Diesen Befund hat die Arbeitsgruppe Politik von Transparency Deutschland zum Anlass genommen, eine umfassende Untersuchung durchzuführen. Zweck der Bemühungen ist, die Öffentlichkeit in dieser für das Gemeinwohl sehr bedeutsamen Angelegenheit zu sensibilisieren sowie bei den verantwortlichen Entscheidungsträgern ein Bewusstsein für die Notwendigkeit möglichst schneller und einheitlicher regulatorischer Änderungen zu schaffen. Erstmalig wurde in leicht verständlicher und transparenter Form für jedes einzelne Bundesland ermittelt, ob und falls ja, in welchem Umfang in den drei genannten Gebieten Integritätsvorschriften existieren. Auf der Basis des so gewonnenen Datenmaterials haben wir unter Heranziehung der EU und des Bundes als Vergleichsparameter für jedes einzelne Bundesland dessen Status ermittelt und die Ergebnisse in einem aussagekräftigen <b>Lobbyranking</b> zusammengefasst.
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="map-container col-lg-8 col-lg-offset-2" ng-controller="MapCtrl">
    <h2 class="text-center">Wählen Sie für Details ein Bundesland aus</h2>
    {% include svg/map.svg %}
    <!--<div class="map text-center">-->
      <!--<div id="map"></div>-->
    <!--</div>-->
    <p>
      Die Entwicklung der Infomationsfreiheitsgesetze in den Bundesländern lässt sich in drei Stufen unterteilen:
    </p>

    <ol>
      <li>
        Bundesländer ohne gesetzliche Regelungen (Bayern, Niedersachsen, Sachsen).</li>
      <li>
        Bundesländer mit Informationsfreiheitsgesetzen, nach denen Informationen auf Antrag herausgegeben werden müssen (Baden-Württemberg, Berlin, Brandenburg, Hessen, Mecklenburg-Vorpommern, Nordrhein-Westfalen, Saarland, Sachsen-Anhalt, Schleswig-Holstein)
      </li>
      <li>
        Bundesländer mit Transparenzgesetzen, die Behörden zusätzlich zur eigenständigen Veröffentlichung von zentralen Daten verpflichten (Bremen, Hamburg, Rheinland-Pfalz, Thüringen)
      </li>
    </ol>

    </p>
  </div>
</div>
</div>
