th.right-border, td.right-border {
    border-right: 2px solid #ddd;
}

.verticalTableHeader {
    text-align: left;
    white-space: nowrap;
    transform-origin: 7% 75%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-40deg);
    height: 15em;
}

.index-valid {
    fill: #5ab4ac;
}

.index-invalid {
    fill: #e55b58;
;
}



