<footer class="site-footer">
  <div class="container">
    <div class="row">
      <h2>Über das IFG-Ranking</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Die Erhebung</h3>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo duo dolores et ea rebum.
              </p>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Downloads</h3>
              <div class="row">
                <div class="col-md-6">
                  <p class="download">
                    <a href="#">
                      <span class="fa fa-download">&nbsp;&nbsp;</span>Die Broschüre zum Ranking <br />  pdf | 3MB</p>
                    </a>
                </div>
                <div class="col-md-6">
                  <p class="download">
                    <a href="#">
                    <span class="fa fa-download">&nbsp;&nbsp;</span>Der Datensatz <br /> xlsx | 512 KB</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Kontakt</h3>
              <p>
                Wenn Sie Feedback, Kritik oder Fragen haben, kontaktieren Sie uns bitte unter folgender E-Mail-Adresse: _________
                und erfahren Sie mehr unter _________.
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>Das Projekt</h3>
            <p>
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy. Verwendete Tools sind CartoDB, QGis und Gephi, die Frameworks Bootstrap, jQuery und C3 sowie die Scriptsprachen Ruby, R und JavaScript.
            </p>
            <img class="logo" src="{{ 'static/img/okf.png' | prepend: site.baseurl }}" alt="Open Knowledge Foundation" />
            <img class="logo" src="{{ 'static/img/mehr-demokratie.jpg' | prepend: site.baseurl }}" alt="Mehr Demokratie e.V." />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Copyright</h3>
            <p>
              Creative Commons Lizenzvertrag Dieses Werk und die Daten sind lizenziert unter der Creative Commons
              Namensnennung 4.0 International Lizenz.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Impressum</h3>
            <p>
              Verantwortlich für diese Homepage (Diensteanbieter) nach § 6 des Telemediengesetzes _________.
            </p>
            <p>
              Wir betonen ausdrücklich, für den Inhalt externer Links nicht verantwortlich zu sein. Wir haben keinen Einfluss auf
              Inhalte und Gestaltung verlinkter Seiten und distanzieren uns ausdrücklich von allen Links.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
