<footer class="site-footer">
  <div class="container">
    <div class="row">
      <h2>Über das Lobbyranking</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Die Erhebung</h3>
              <p>
                Für das Funktionieren einer Demokratie ist die Integrität der handelnden Personen von nicht zu unterschätzender Bedeutung. In besonderem Maße gilt dies für den Prozess der Entstehung der Gesetze.
                Wir haben die entsprechenden Lobbygesetze in den deutschen Bundesländern miteinander verglichen.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Downloads</h3>
              <div class="row">
                <div class="col-md-6">
                  <p class="download">
                    <a href="/static/files/ifg-ranking.pdf">
                      <span class="fa fa-download">&nbsp;&nbsp;</span>Die Broschüre zum Ranking <br />  pdf | 1MB</p>
                    </a>
                </div>
                <div class="col-md-6">
                  <p class="download">
                    <a href="/static/files/ifg-ranking-daten.xlsx">
                    <span class="fa fa-download">&nbsp;&nbsp;</span>Der Datensatz <br /> xlsx | 430 KB</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Kontakt</h3>
              <p>
               Die Arbeitsgruppe Politik arbeitet ehrenamtlich für Transparency Deutschland. Wir freuen uns sehr über Feedback, Kritik und Fragen. Bitte teilen Sie uns mit, wenn Sie andere Informationen haben oder Ihnen ein Datenfehler auffällt. Kontaktieren Sie uns bitte unter <a href="mailto:office@transparency.de">office@transparency.de</a> (<a href="https://www.transparency.de/rechtliches/impressum/">Impressum</a>).
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>Das Projekt</h3>
            <p>
              Das Lobbyranking der Bundesländer ist ein Projekt der Arbeitsgruppe Politik des gemeinnützigen Vereins Transparency International Deutschland e.V.. Der Quellcode wurde uns dankenswerterweise von der Open Knowledge Foundation Deutschland e.V. und Mehr Demokratie e.V. zur Verfügung gestellt. Er ist zu finden unter <a href="https://github.com/okfde/lobbyranking.de">auf Github</a>. Verwendete Tools sind CartoDB, QGis und Gephi, die Frameworks Bootstrap, jQuery und C3 sowie die Scriptsprachen Ruby, R und JavaScript.
            </p>
            <a href="https://www.transparency.de/" target="_blank">
              <img class="logo" src="/static/img/logo.png" alt="Transparency Internatinoal Deutschland e.V." />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Copyright</h3>
            <p>
              Dieses Werk und die Daten sind lizenziert unter Creative Commons Namensnennung 4.0 International (<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>).
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Impressum</h3>
            <p>
              Verantwortlicher Diensteanbieter für diese Homepage ist der Verein Transparency International Deutschland e.V. <a href="https://www.transparency.de/rechtliches/impressum/">Impressum</a>. Alle Angaben ohne Gewähr.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
