<footer class="site-footer">
  <div class="container">
    <div class="row">
      <h2>Über das Transparenzranking</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Die Erhebung</h3>
              <p>
                Jede Person hat das Recht auf staatliche Informationen - doch die Umsetzung dieses Rechts unterscheidet sich innerhalb Deutschlands. 
                Wir haben erstmalig die Informationsfreiheits- und Transparenzgesetze in den deutschen Bundesländern miteinander verglichen.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Downloads</h3>
              <div class="row">
                <div class="col-md-6">
                  <p class="download">
                    <a href="#">
                      <span class="fa fa-download">&nbsp;&nbsp;</span>Die Broschüre zum Ranking <br />  pdf | 3MB</p>
                    </a>
                </div>
                <div class="col-md-6">
                  <p class="download">
                    <a href="#">
                    <span class="fa fa-download">&nbsp;&nbsp;</span>Der Datensatz <br /> xlsx | 512 KB</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Kontakt</h3>
              <p>
                Wir freuen uns sehr über Feedback, Kritik und Fragen. Kontaktieren Sie uns bitte unter <a href="mailto:info@fragdenstaat.de">info@fragdenstaat.de</a> (<a href="https://fragdenstaat.de/hilfe/ueber/impressum/#pgp-key">PGP-Schlüssel</a>).
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>Das Projekt</h3>
            <p>
              Das Transparenzranking ist ein Projekt der gemeinnützigen Vereine Open Knowledge Foundation Deutschland e.V. und Mehr Demokratie e.V.. Der Quellcode ist zu finden <a href="https://github.com/okfde/ifg-index">auf Github</a>. Verwendete Tools sind CartoDB, QGis und Gephi, die Frameworks Bootstrap, jQuery und C3 sowie die Scriptsprachen Ruby, R und JavaScript.
            </p>
            <a href="https://okfn.de" target="_blank">
              <img class="logo" src="/static/img/okf.png" alt="Open Knowledge Foundation Deutschland e.V." />
            </a>
            <a href="https://www.mehr-demokratie.de/" target="_blank">
             <img class="logo" src="/static/img/mehr-demokratie.jpg" alt="Mehr Demokratie e.V." />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Copyright</h3>
            <p>
              Dieses Werk und die Daten sind lizenziert unter Creative Commons Namensnennung 4.0 International (<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>).
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Impressum</h3>
            <p>
              Verantwortlicher Diensteanbieter für diese Homepage ist die Open Knowledge Foundation Deutschland. <a href="https://fragdenstaat.de/hilfe/ueber/impressum/">Zum Impressum</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
