<header class="site-header col-md-12">
  <div class="left col-md-3">
    <a href="{{site.baseurl}}">
      <div class="col-md-5 col-sm-3 col-xs-3">
        <img src="{{ 'static/img/ifg-ranking-logo.png' | prepend: site.baseurl }}" alt="" />
      </div>
      <div class="col-md-7 col-xs-9 logo-description">
        Das große <br />IFG-Ranking
      </div>
    </a>
  </div>
  <div class="col-md-offset-6 col-md-3 right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle text-uppercase" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Bundesland wählen
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for state in site.states %}
          <li><a href="{{site.baseurl}}/laender/{{state.link}}">{{state.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
