<header class="site-header">
  <a href="/">
    <img class="logo" src="/static/img/logo__transparency.svg" alt="Transparency International Deutschland e.V." style="background: white;"/>
  </a>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle text-uppercase" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Bundesland wählen
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% for state in site.states %}
        {% if state.link != 'bund' %}
          {% continue %}
        {% endif %}

        <li><a href="/laender/{{state.link}}">{{state.name}}</a></li>
      {% endfor %}

      <li role="separator" class="divider"></li>

      {% for state in site.states %}
        {% if state.link == 'bund' %}
          {% continue %}
        {% endif %}

        <li><a href="/laender/{{state.link}}">{{state.name}}</a></li>
      {% endfor %}
    </ul>
</div>
</header>
