<header class="site-header col-md-12">
  <div class="left col-md-3">
    <a href="/">
      <div class="col-md-5 col-sm-3 col-xs-3">
        <img src="/static/img/ifg-ranking-logo.png" alt="" />
      </div>
      <div class="col-md-7 col-xs-9 logo-description">
        Transparenzranking<br>
        Deutschland
      </div>
    </a>
  </div>
  <div class="col-md-offset-6 col-md-3 right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle text-uppercase" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Bundesland wählen
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for state in site.states %}
          {% if state.link != 'bund' %}
            {% continue %}
          {% endif %}

          <li><a href="/laender/{{state.link}}">{{state.name}}</a></li>
        {% endfor %}

        <li role="separator" class="divider"></li>

        {% for state in site.states %}
          {% if state.link == 'bund' %}
            {% continue %}
          {% endif %}

          <li><a href="/laender/{{state.link}}">{{state.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
