<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Transparenzranking">
  <meta name="twitter:description" content="Jede Person hat das Recht auf staatliche Informationen - doch die Umsetzung dieses Rechts unterscheidet sich innerhalb Deutschlands. Wir haben erstmalig die Informationsfreiheits- und Transparenzgesetze in Bund und Ländern miteinander verglichen.">
  <meta name="twitter:image" content="/static/img/social_preview.png">

  <title>Informationsfreiheit in Deutschland - Das Transparenzranking</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/main.css">

</head>
