<script src="{{'/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/bower_components/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/bower_components/tabletop/src/tabletop.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/d3/d3.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/topojson/topojson.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/bower_components/underscore/underscore-min.js' | prepend: site.baseurl }}"></script>

<!--angular-->
<script src="{{'/bower_components/angular/angular.min.js' | prepend: site.baseurl}}"></script>
<script src="{{ '/static/js/app.js' | prepend: site.baseurl }}"></script>

<!--Directives-->
<script src="{{ '/static/js/directives/map.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/static/js/directives/barchart.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/static/js/directives/bar.js' | prepend: site.baseurl }}"></script>
