---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Arial, sans-serif;
$base-font-size:   21px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-bright: #FAFBFF;

$shadow: 0 0 4px 0 rgba(128, 128, 128, 0.5);

//colors
$font-blue: #112233;
$darkblue: #232b3d;
$white : #fff;
$silver: #c3cad1;

//categories
$information-color: #ffe500;
$obligation-color: #f7a600;
$exception-color: #596b01;
$proposal-color: #9a0052;
$fee-color: #009ee3;
$agent-color: #6ddecb;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



.fond__grey { background-color: $white;}


body, p {
  font-family: 'Cabin', sans-serif;
  color: #333333;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: $font-blue;
  margin: 80px 0 60px 0;
}

p {
  font-size: 21px;
  line-height: 1.57;
}

img {
  max-width: 100%;
}

footer {
  color: $white;
  height: 100%;
  padding-bottom: 90px;
  margin-top: 150px;
}

footer p, footer a {
  color: $white;
  font-size: 15px;
}

footer h3 {
  color: $white;
  font-size: 18px;
  margin-top: 60px;
}

footer h2 {
  font-size: 35px;;
  margin-top: 90px;
  color: $white;
}



dd {
  margin-top: 10px;
}

.dropdown-toggle {
  font-weight: bold;
  font-size: 15px;
  color: $font-blue;
  box-shadow: $shadow;
  padding: 15px;
}

.dropdown-toggle .caret {
  margin-left: 10px;
  margin-top: -5px;
}

.logo-description {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: $font-blue;
}

.site-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
  }
}

.site-header, .site-footer {
  background: #3695D8;
}

.vis {
  margin-top: 10px;
}

.vis-btn-cat {
  height: 3em;
  padding: 0 1em;
  border: 0px solid black;
  box-shadow: $shadow;
  margin-bottom: 10px;
  display: block;
}

.vis-btn-cat:focus {
    outline: none;
}

.vis-btn-information {
  border-left: 3px solid $information-color;
}

.vis-btn-obligation {
  border-left: 3px solid $obligation-color;
}

.vis-btn-exception {
  border-left: 3px solid $exception-color;
}

.vis-btn-proposal {
  border-left: 3px solid $proposal-color;
}

.vis-btn-fee {
  border-left: 3px solid $fee-color;
}

.vis-btn-agent {
  border-left: 3px solid $agent-color;
}

footer .logo {
  max-width: 200px;
  max-height: 100px;
  margin-left: 30px;
}

footer a {
  text-decoration: underline;
}

dd { display:none; }

.svg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
}

.cat-wrapper {
  margin: 7em 0;
}

.cat-explanation {
  margin-top: 20px;
}

.acc-indicator:before {
  margin-left: 10px;
}

.bars {
  margin-top: 3em;
}

//Angular hiding

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.right{

  font-family: Cabin;
  color: #515b66;
  font-size: 16px;
  text-align: right;
  padding-left: 60px;
}


.indicator {
  font-family: Cabin;
  color: #515b66;
  font-size: 16px;
  padding-bottom: 15px;
}


.subinfo {
  font-family: Cabin;
  color: #515b66;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

h2{

  font-family: Cabin;
  font-style: 500;
  color: #112233;
  font-size: 35px;
  padding: 10px 0;
  margin-top: 50px;
}


h3 {
  color: $font-blue;
  margin-top: 50px;
}


ol {
  margin: 20px;
  font-family: Georgia;
  font-size: 21px;
  line-height: 1.57;

  li {
    padding: 10px 0 0 0;
  }
}

.category-buttons {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px 0 10px -10px;

    > * {
      margin: 10px 0 0 10px;
    }
  }
}
