---
layout: default
---
<div class="container" ng-controller="StateCtrl" ng-init="init('{{page.name}}')">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{page.name}}</h1>
                    <p><em>Informationsfreiheitsgesetz seit 2012</em></p>
                    <p class="text-center">Gesamt {{overview_points}}</p>
                    {% raw %}
                    <bar value="overview_points" max="100" color="overview_color" label="overview_label" /></div>

                    {% endraw %}
                </div>
            </div>
            {% raw %}
            <div class="cat-wrapper">
                <div class="row" ng-repeat="cat in data_cat track by $index">
                    <div class="col-md-2 col-md-offset-4">
                        {{cat.name}}
                    </div>
                    <div class="col-md-3 text-center">
                        <bar value="cat.points" max="cat.max" color="cat_color[$index]" label="cat.value + '%'"></bar>
                    </div>
                </div>
            </div>
            {% endraw %}
            <div class="row">
                <div class="col-md-12">
                    <p>Schleswig-Holstein hat 2012 sein „Informationszugangsgesetz“ (IZG-SH) verabschiedet. Das Gesetz wird in der laufenden Legislaturperiode erweitert. Im rot-grünen Koalitionsvertrag (2012-2017) ist zu lesen: „Zu einem bürgerfreundlichen Land gehört, dass die Behörden die Grundlagen ihrer Entscheidungen und Handlungen offen legen und erklären. Unser Grundsatz lautet, dass der Zugang zu Informationen zur Regel und die Verweigerung der Veröffentlichung zur Ausnahme werden soll. Wir wollen Schleswig-Holstein gemeinsam mit dem Landesbeauftragten für den Datenschutz deutschlandweit zum Vorbild für eine aktive Informationsfreiheit entwickeln.“
                        Schleswig-Holstein erreicht Platz 2 hinter Hamburg. Dies ist vor allem den umfassenden Auskunftspflichten und den gut geregelten Ausnahmen zu verdanken.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for category in page.categories %}
                        {% if category.name %}
                            <h1>{{category.name}}</h1>
                            <p>{{category.punkte}} von {{category.maximalpunkte}} Punkten</p>
                            {% for indicator in category.indicators %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <dt>{{indicator.bezeichnung}}<span class="acc-indicator fa fa-arrow-down"></span></dt>
                                        <dd>{{indicator.hintergrund}}</dd>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{indicator.erreichte_punkte}} von {{indicator.maximalpunkte}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <svg height="20">
                                            {% for i in (1..indicator.erreichte_punkte) %}
                                                <rect width="20" height="20" x="{{i | times: 24 }}" fill="{{category.color}}"></rect>
                                            {% endfor %}

                                            {% assign maximalpunkte=indicator.maximalpunkte | minus: 1 %}

                                            {% for i in (indicator.erreichte_punkte..maximalpunkte) %}
                                                <rect width="20" height="20" x="{{i |plus: 1 | times: 24 }}" fill="grey"></rect>
                                            {% endfor %}
                                        </svg>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}

                </div>
                <div class="ende"></div>
            </div>
        </div>
    </div>

</div>

